@media screen, print and (orientation: portrait){
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
body{
    background-image: url("SkBg.jpg");
    background-repeat: repeat;
}
.made p{
    color: white;
    margin-left: 83.5rem;
}
.made img{
    margin-top: -2rem;
    margin-left: 85rem;
    height: 200px;
    width: 180px;
}
.logo{
    margin-top: 1rem;
    margin-left: 42rem;
    display: flex;
    height: 150px;
}
.logo img{
    margin-top: -0.4rem;
    margin-left:rem;
    background-color: transparent;
    height: 200px;
    width: 200px;
}
.logo p{
    color: white;
    font-size: 45px;
    margin-top: 12rem;
    margin-left: -17rem;
    font-family: "Audiowide", sans-serif;
}
.logo_para p{
    color: white;
    margin-left: 40rem;
    margin-top: -2rem;
    font-size: 35px;
    font-family: "Audiowide", sans-serif;
}
.prdt1 img{
    margin-top: 7rem;
    margin-left: 13rem;
    width: 450px;
    height: 200px;
    background: transparent;
}
.prdt2 img{
    margin-top: -45rem;
    margin-left: 52rem;
    width: 450px;
    height: 200px;
    background: transparent;
}
.prdt3 img{
    margin-top: 2rem;
    margin-left: 12rem;
    width: 450px;
    height: 230px;
    background: transparent;
}
.prdt4 img{
    margin-top: -28rem;
    margin-left: 52rem;
    width: 450px;
    height: 200px;
    background: transparent;
}
.prdt1 p{
    color: red;
    margin-left: 20rem;
}
.prdt2 p{
    color: red;
    margin-left: 63rem;
}
.prdt3 p{
    color: red;
    margin-left: 20rem;
}
.prdt4 p{
    color: red;
    margin-left: 63rem;
}
.rsn p{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: flex-end;
    color: white;
    margin-top: 6rem;
    margin-left: 1rem;
}
.desc p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    margin-left: 1rem;
}
}